Here are all the photos!

<%= render "form" %>

<% @posts.each do | post | %>
    <p><%= post.title %></p>
    <%= image_tag(post.image) %>
    <%= link_to post_likes_path( post ), method: :post do %>
      <%= 'Like' %>
    <% end %>
    <!-- <button type="button" class="like_<%= current_user.id %>">Like</button> -->
    <p class="like_value_<%= current_user.id%>"><%=post.likes.count%></p>
<% end %>
